<!DOCTYPE html>
<html ng-app="">
<head lang="en">
    <meta charset="UTF-8">
    <script SRC="angular.js"></script>

</head>

<body>



<div ng-app="">
    <p>名字 : <input type="text" ng-model="name"> </p>
    <h1>Hello {{name}}</h1>
</div>


<div ng-init="qty=1;cost=3">
    <b>订单：</b>
    <div>
数量：<input type="number" ng-model="qty" required/>
    </div>
    <div>
        单价：<input type="number" ng-model="cost" required/>
    </div>
    <div>
        <b>总价：{{qty*cost}}</b>
    </div>
</div>


</body>
</html>