
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479781719865'); /* IE9*/
  src: url('iconfont.eot?t=1479781719865#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479781719865') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479781719865') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479781719865#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {

  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before { content: "\e650"; }

.icon-waixingren:before { content: "\e60b"; }

.icon-xiabian:before { content: "\e619"; }

.icon-youbian:before { content: "\e643"; }

.icon-zuobian:before { content: "\e644"; }

.icon-xuanzhuan:before { content: "\e628"; }

.icon-secaiban:before { content: "\e629"; }

.icon-shanchu:before { content: "\e613"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-moban:before { content: "\e60d"; }

.icon-f12:before { content: "\e62a"; }

.icon-jiahao:before { content: "\e606"; }

.icon-presentation:before { content: "\e63d"; }

.icon-test1:before { content: "\e602"; }

.icon-fuzhi:before { content: "\e621"; }

.icon-21:before { content: "\e62b"; }

.icon-32:before { content: "\e62c"; }

.icon-bocichuli:before { content: "\e62d"; }

.icon-huakuai:before { content: "\e62e"; }

.icon-baocun:before { content: "\e60e"; }

.icon-wenbenkuang:before { content: "\e62f"; }

.icon-yincang:before { content: "\e638"; }

.icon-jiacu:before { content: "\e618"; }

.icon-xiahuaxian:before { content: "\e642"; }

.icon-shengchengrizhi:before { content: "\e60f"; }

.icon-kongjian:before { content: "\e614"; }

.icon-yincang1:before { content: "\e639"; }

.icon-xuanzhuan1:before { content: "\e64c"; }

.icon-shezhi:before { content: "\e649"; }

.icon-zuijin:before { content: "\e610"; }

.icon-chexiao:before { content: "\e615"; }

.icon-xieti:before { content: "\e641"; }

.icon-duiqi:before { content: "\e63a"; }

.icon-zhantie:before { content: "\e622"; }

.icon-beijingyanse:before { content: "\e63b"; }

.icon-shangbiao:before { content: "\e61c"; }

.icon-xiabiao:before { content: "\e61d"; }

.icon-geshishua:before { content: "\e623"; }

.icon-jianqie:before { content: "\e624"; }

.icon-lingcunwei:before { content: "\e611"; }

.icon-guanyu:before { content: "\e63e"; }

.icon-iconfont74:before { content: "\e64d"; }

.icon-chazhao:before { content: "\e625"; }

.icon-jikediancanicon09:before { content: "\e604"; }

.icon-xialakuang:before { content: "\e63c"; }

.icon-tuceng:before { content: "\e640"; }

.icon-upload:before { content: "\e648"; }

.icon-project:before { content: "\e645"; }

.icon-zhongzuo:before { content: "\e616"; }

.icon-zitidaxiao:before { content: "\e61e"; }

.icon-pailie:before { content: "\e61f"; }

.icon-images:before { content: "\e630"; }

.icon-bi40qietushuzi:before { content: "\e631"; }

.icon-iconzitiyanse:before { content: "\e61a"; }

.icon-yibiaopan:before { content: "\e632"; }

.icon-icon:before { content: "\e633"; }

.icon-lianxiwomen:before { content: "\e63f"; }

.icon-ziti:before { content: "\e61b"; }

.icon-hongfa:before { content: "\e634"; }

.icon-youxiang:before { content: "\e608"; }

.icon-yunxingzhong:before { content: "\e620"; }

.icon-expandright:before { content: "\e609"; }

.icon-expand:before { content: "\e60a"; }

.icon-trash:before { content: "\e646"; }

.icon-dakai:before { content: "\e612"; }

.icon-zhedie:before { content: "\e617"; }

.icon-xinjiangongcheng:before { content: "\e60c"; }

.icon-tuceng1:before { content: "\e635"; }

.icon-qingjinganniu:before { content: "\e636"; }

.icon-cha:before { content: "\e607"; }

.icon-scale:before { content: "\e600"; }

.icon-kttx:before { content: "\e626"; }

.icon-refresh:before { content: "\e603"; }

.icon-appxiugaiicon65:before { content: "\e627"; }

.icon-cnbangzhu:before { content: "\e601"; }

.icon-template:before { content: "\e647"; }

.icon-icon8:before { content: "\e637"; }

.icon-xiugai:before { content: "\e64a"; }

.icon-bangding1:before { content: "\e64b"; }

.icon-kaiguan:before { content: "\e64e"; }

.icon-xuanzhuan2:before { content: "\e64f"; }

.icon-icons06:before { content: "\e69d"; }

.icon-icons07:before { content: "\e69e"; }

.icon-icon219:before { content: "\e721"; }

.icon-icon220:before {
  content: "\e722";
  font-weight: 700;
}

